<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Practice with CSS Grid</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div class="container">
        <div>Area #1</div>
        <div>Area #2</div>
        <div>Area #3</div>
        <div>Area #4</div>
        <div>Area #5 -  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed auctor cursus dui eu pretium. Sed tristique velit eu dolor finibus, vitae tincidunt ligula viverra. Pellentesque vel augue lobortis, pretium dui ac, consequat purus. Aliquam lacinia felis egestas orci condimentum bibendum. Maecenas eu metus nec odio tristique euismod. Donec cursus tellus in nisi egestas suscipit. Proin porttitor lectus at ultrices blandit. Aliquam vel hendrerit lectus, id interdum erat. Cras mi ligula, pretium et tincidunt non, vestibulum id nibh. Mauris gravida ut augue et pretium. Nunc a elit vestibulum, pharetra lacus vel, vehicula lectus. Nulla ornare accumsan justo, quis porttitor sapien volutpat nec. Mauris vitae odio in est cursus porttitor.

            Sed sapien ante, lacinia at lacus viverra, suscipit finibus ante. Fusce dignissim, nunc vel maximus iaculis, nibh nibh vulputate lectus, et feugiat mauris ex eu nisl. Sed id rutrum lectus. Vestibulum justo nibh, fermentum et dignissim at, hendrerit eget est. Sed vitae nibh magna. Vestibulum ut sapien sit amet mauris elementum blandit. Etiam vitae cursus est. Nunc iaculis semper sapien luctus lobortis. Etiam vel purus a enim dictum eleifend sed sed elit. Praesent placerat, dui vel eleifend fermentum, quam nibh finibus purus, ut tempus orci ex sed risus. Donec eu auctor purus. </div>
        <div>Area #6</div>
        <div>Area #7</div>
        <div>Area #8</div>
        <div>Area #9</div>
        <div>Area #10</div>
        <div>Area #11</div>
    </div>
</body>
</html>