h1 {
    font-weight: bold;
    font-size: 1.4em;
}

h1, section {
    margin-bottom: 10px;
}

img {
    width: 150px;
}

img#history-1 {
    float: right;
}

img#history-2 {
    float: left;
}

div {
    float: left;
    width: 50%;
    box-sizing: border-box;
}


div section {
    border: 2px solid black;
    background-color: bisque;
    padding: 4px;
    margin: 4px;
}

article {
    background-color: coral;
}

article::after {
    clear: both;
    content: "";
    display: table;
}












